body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center; 
}

.container {
  width: 100%;
  padding: 50px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #e08e30;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e08e30;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
  margin-bottom: 5px;
}

li:nth-child(even) {
  background-color: #efefef;
}

li.complete span {
  text-decoration: line-through;
  color: #888;
}

li input[type="text"] {
  width: 70%;
  padding: 5px;
}

.todo-actions {
  display: flex;
  gap: 5px;
}

.todo-actions button {
  background-color: #bd7655;
}

.todo-actions button:hover {
  background-color: #d16c3d;
}